
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        header {
            color: aliceblue;
            text-align: center;
            margin-bottom: 20px;
            background-image: linear-gradient( to right, rgb(152, 151, 151) , black);
        }
        section {
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }