body {
            background: linear-gradient(135deg, #e3ecf5, #c7d7eb);
            font-family: 'Segoe UI', sans-serif;

            background: linear-gradient(135deg, #e6eef7, #cbd9ea);
        }

        .perfume-card {
            border-radius: 15px;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
            transition: 0.3s;
        }

        .perfume-card:hover {
            transform: translateY(-5px);
        }

        .perfume-card img {
            height: 200px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        .price {
            font-weight: bold;
            color: #0d6efd;
        }
            .lux-footer {
      background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
      font-family: 'Poppins', sans-serif;
    }
    .footer-title {
      color: #d4af37;
      margin-bottom: 15px;
    }

    .footer-text {
      color: #f1cb0f;
      max-width: 300px;
    }

    .footer-link {
      color: #f0ebeb;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
      transition: all 0.3s ease;
    }

    .footer-link:hover {
      color: #d4af37;
      transform: translateX(5px);
    }

    .social-icons a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #121111;
      color: #f6f2f2;
      font-size: 20px;
      margin-right: 10px;
      transition: 0.3s;
    }

    .social-icons a:hover {
      background: #d4af37;
      color: #000;
    }

    .footer-bottom {
      border-top: 1px solid #333;
      padding: 15px 0;
      color: #888;
    }