    body{
            background: linear-gradient(120deg, #8193ab, #435a70);
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card{
            border-radius: 15px;
        }
        .btn-next{
            background: #000;
            color: #fff;
        }
        .btn-next:hover{
            background: #333;
        }
    